.git
.gitignore
.github
.vscode
.idea
nbproject

Dockerfile*
docker-compose*.yml
Vagrantfile
*.bat

# Arquivos locais/sensíveis
.env
.bashrc
.bash_logout
.profile

README.md
deployment.properties
deployment.xml
filename.pdf

# Cache e artefatos temporários
data/cache/*
data/log/*
data/temp/*
